/*--------------------
全体調整 
---------------------*/
@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    color: red;
    font-size: 25px;
}
header, footer{
    margin: 20px 0;
    text-align: center;
}
/*--------------------
main
---------------------*/
.container, .container2{
    background: #eee;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: end; */
    position: relative;
}
.container2{
    margin-top: 100px;
}
.start-box{
    position: absolute;
    left: 10%;
    bottom: 10%;
    transform: translate(-50%);
}
.box{
    text-align: center;
}
#slot1, #slot2, #slot3, #slot4, #slot5, #slot6, #slot7, #slot8, #slot9{
    font-size: 40px;
    /* padding: 0 10px; */
    width: 50px;
    height: 80px;
    border: 1px solid #000;
    line-height: 80px;
    cursor: default;
    padding: 20px;
}
.stopButton{
    font-size: 18px;
    padding: 3px;
    margin: 10px 0;
    cursor: pointer;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 2px 2px #333;
}
.stopButton:hover{
    box-shadow: 0px 0px;
}
